<dl class='metadata-block'>
  {% assign stateProvArr = page["state-province"] | split: '; ' %}
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    Only display non-empty values
    {% endcomment %}
    {% if value | strip != '' and value | strip != ' ' %}
      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      <!-- end link if -->
      {% endif %}

      <!-- program metadata -->
      {% comment %}
        Treatment for program metadata
      {% endcomment %}
        {% if item.label == 'Location' %}
            <dt>{{item.label}}</dt>
            {% assign cityArr = value | split: '; ' %}
            {% for city in cityArr %}
              {% assign i = forloop.index | minus: 1 %}
              <dd>{{city}}, {{stateProvArr[i]}}</dd>
            {% endfor %}
        {% elsif item.label == 'Performers' %}
            <dt>{{ item.label}} </dt>
            {% assign performersArr = value | split: '; ' %}
            <dd>{{ performersArr | join: ', ' }}</dd>
        {% elsif item.label == 'Songs' %}
          <dt>{{ item.label }}</dt>
          {% assign songArr = value | split: '; ' %}
          {% for key in songArr %}
            {% assign song = site.data.songs | where: "pid", key | first %}
            <dd><a href="{{site.baseurl}}/songs/{{ key }}">{{song.label}}</a></dd>
            {% if song %}
              {{ song | jsonify }}
            {% endif %}
          {% endfor %}
        <!-- song metadata -->
        {% comment %}
          Treatment for song metadata
        {% endcomment %}
        {% elsif item.label == "Title" %}
          <dt>{{item.label}}</dt>
          <dd>{{ value | strip }} {% if page.ukrainian-title %} / {{page.ukrainian-title}} {% endif %}</dd>
        {% elsif item.label == 'Theme(s)' %}
          <dt>{{item.label}}</dt>
          <dd>{{ value | split: ';' | join: ', '}}</dd>
        {% elsif item.label == 'Lyrics' %}
          <dt>{{ item.label}}</dt>
          <dd>{{ value | strip}}</dd>
          {% if page.lyrics %}
            <dd>{{page.lyrics}}</dd>
          {% endif %}
        {% else %}
          <dt>{{ item.label }}</dt>
          <dd>{{ value | strip }}</dd>
        <!-- end special metadata treatment if cases -->
        {% endif %}
    <!-- end outer if statement -->
    {% endif %}
  {% endfor %}
</dl>
