<dl class='metadata-block'>
  {% assign stateProvArr = page["state-province"] | split: '; ' %}
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    Only display non-empty values
    {% endcomment %}
    {% if value | strip != '' %}
      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}
        {% if item.label == 'Location' %}
            <dt>{{item.label}}</dt>
            {% assign cityArr = value | split: '; ' %}
            {% for city in cityArr %}
              {% assign i = forloop.index | minus: 1 %}
              <dd>{{city}}, {{stateProvArr[i]}}</dd>
            {% endfor %}
        {% elsif item.label == 'Performers' %}
            <dt>{{ item.label}} </dt>
            {% assign performersArr = value | split: '; ' %}
            <dd>{{ performersArr | join: ', ' }}</dd>
        {% elsif item.label == 'Songs' %}
          <dt>{{ item.label }}</dt>
          {% assign songArr = value | split: '; ' %}
          {% for key in songArr %}
            {% assign song = site.songs | find: "pid", key %}
            <dd><a href="{{site.baseurl}}/songs/{{ key }}">{{song.label}}</a></dd>
          {% endfor %}
        {% else %}
          <dt>{{ item.label }}</dt>
          <dd>{{ value | strip }}</dd>
        {% endif %}
    {% endif %}
  {% endfor %}
</dl>
