<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    Only display non-empty values
    {% endcomment %}
    {% if value | strip != '' %}
      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}
        {% if item.label == 'Performers' %}
        {% endif %}
        {% if item.label == 'Songs' %}
          <dt>{{ item.label }}</dt>
          {% assign arr = value | split: '; ' %}
          {% for key in arr %}
            {% assign song = site.songs | find: "pid", key %}
            <dd><a href="{{site.baseurl}}/songs/{{ key }}">{{song.label}}</a></dd>
          {% endfor %}
        {% else %}
          <dt>{{ item.label }}</dt>
          <dd>{{ value | strip }}</dd>
        {% endif %}
    {% endif %}
  {% endfor %}
</dl>
