---
layout: default
---

<script type='text/javascript' src="{{ '/assets/utils.js' | absolute_url }}"></script>
{% comment %}
  The block below controls the image viewer
{% endcomment %}

{% assign dateSplit = page.show-date | split: ';' %}
{% assign yearString = '' %}
{% assign yearArray = yearString | split: ',' %}
{% for str in dateSplit %}
  {% assign dateParts = str | split: '/' %}
  {% assign year = dateParts | last %}
  {% assign yearArray = yearArray | push: year %}
{% endfor %}

<div class='left-panel'>
<h3 alt="{{ page.label | escape }}" class='item-label'>{{ page.label }}{{ " - " }}{{ yearArray | uniq }}</h3>
  <div class='item-view'>
    <span class='pagination-link' id='prevlink'></span>

    {% if page.manifest.size > 0 %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest %}
    {% elsif page.full.size > 0 %}
      {% include simple_image_viewer.html full_image=page.full %}
    {% endif %}
    
    <span class='pagination-link' id='nextlink'></span>
  </div>
</div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}
<div class="right-panel">
{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata.html meta=metadata %}
{% endif %}
</div>