---
layout: song_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Composer'
    value: page.composer
  - label: 'Period'
    value: page.period
  - label: 'Genre'
    value: page.genre
  - label: 'Theme(s)'
    value: page.theme
  - label: 'Description'
    value: page.description
  - label: 'Lyrics'
    value: page.lyrics-english
  - label: 'Lyricist'
    value: page.lyricist
  - label: key
    value: page.key
  - label: tempo
    value: page.tempo
  - label: 'Translator'
    value: page.translator
  - label: 'Arrangement'
    value: page.arrangement
---
